$pagePadding: 24px;
$lienHeight: 1.2;

.page {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px $pagePadding;
  line-height: $lienHeight;
}

.main {
  height: 100%;
  padding: 0 $pagePadding;
}

.feedCard {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding: 42px 24px;

  background-color: azure;
  border-radius: 42px;
}

.feedCardTitle {
  font-size: 24px;
  line-height: $lienHeight;
}
